<!DOCTYPE html> 
<link rel="stylesheet" href="stylesheet.css">
<span style = "zoom: 120%"></span>

<html>
    <head>
        <meta charset="utf-8">
        <title> Fuel Quote Form </title> 
        <!-- <script src="fuelQuote.js" defer></script> -->
    </head>

<body>
    <h1>Fuel Quote Form<span style = "color:rgb(175, 146, 255); font-size: 24pt;">.</span></h1>
    <instructionalUnderscore>Fill the data fields to revieve a quote.</instructionalUnderscore>


</body>

<form action = '/fuelQuoteForm1' method = "post">
<body>
    <p>
      <fqfLabels for="gallonsR">Gallons Requested&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</fqfLabels>
      <input type="number" id="gallonsInputBoxes" name="gallonsR" placeholder="*Input gallons requested">
    </p>
    <p>
     <!--<fqfLabels for="address">Delivery Address</fqfLabels>-->
     <table>
      <tr>
        <th id = "rowBox" width = "400" height = "45">Address</th>
        <th id = "rowBox" width = "200" height = "45">City</th>
        <th id = "rowBox" width = "200" height = "45">State</th>
        <th id = "rowBox" width = "200" height = "45">Zipcode</th>
      </tr>
      <tr>
        <td width = "400" height = "45"><span id = "address1InputBoxesFQ"><%=address%></span></td>
        <td width = "200" height = "45"><span id = "cityInputBoxesFQ"><%=city%></span></td>
        <td width = "200" height = "45"><span id = "stateInputBoxesFQ"><%=state%></span></td>
        <td  width = "200" height = "45"><span id = "zipcodeInputBoxesFQ"><%=zipcode%> </td>
      </tr>
    </table>

   </p>

    <p>
      <fqfLabels for="deliveryDate">Delivery Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</fqfLabels>
      <input type="date" id="delDateInputBoxes" name="deliveryDate">
    </p>
    <p>
        <fqfLabels for="pricePerGallon">Suggested Price/Gallon</fqfLabels>
        <input type="number" value="1.50" id ="sugPriceInputBoxes" readonly/>
        <input type="hidden" value= "<%=coeff%>" id ="coeff" readonly/>
    </p>
    <p>
        <!-- <fqfLabels for="total">Total Amount due&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</fqfLabels> -->
        <!-- <span type = "number" id ="coeff" value = ".13"></span> -->
        <input type="number" readonly id="total" name ="calcBox">
        <input type="button" name="clickbtn" id="calculatetotalamountButton" value="Get Quote" onclick="multipy_number()">

        

        <script>
          function multipy_number()
          {
            var gallons = parseFloat(document.getElementById("gallonsInputBoxes").value);
            const second_number = document.getElementById("sugPriceInputBoxes").value;
            var coeff1 = parseFloat(document.getElementById("coeff").value);

            //console.log("suggPrice is: " + coeff1.value);
            console.log("coeff is: " + coeff1);

            var gallonsRegFactor = .02 //.02 if >1000 gals and .03 if less
            if (gallons < 1000)
            {
                gallonsRegFactor = .03
            }

            
            var totalCoeff = coeff1 + gallonsRegFactor;
            console.log("totalCoeff is: " + totalCoeff);
            var margin = 1.5*totalCoeff;
            var newSuggestedPrice = margin + 1.5;
            var result = (gallons*newSuggestedPrice); 
            console.log("Gallons is: " + gallons + "  and newSuggestedPrice is: " + newSuggestedPrice);
            console.log("Result is: " + result);
            document.getElementById("total").value = result;
            //pass the margin without gallons factor
            //get gallons factor
            //add it to the margin
            //multiply that by 1.5
            //add that to 1.5
            //multiply that by gallons
          }
        </script>

        <div id ="totalAmount"></div>
    </p>
    <p>
        <input type="submit" id = "submit" value="Submit" href = '/finalSubmissionForm'>
    </p>
    <br>
    <div id="formErrors"></div>
  </body>
</form>

  <body>
    <labelPretext for="Return"><b>Return to</b></labelPretext>
    <a id = "normalLink" href="/menu">menu</a><br>

    <labelPretext><span style = "color:rgb(175, 146, 255); font-size: 18pt;">*</span>required field</labelPretext>

</body>

 </html>